
{% extends 'base.html' %} {% block content %}
<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <div style="display:flex; justify-content: space-between;">
                <h2>Mise en adoption<h2>  
                <a href="/" class="btn btn-primary">Retour à la page d'acceuil</a>
            </div>
        </div>
        <div class="card-body">

            {% if errors %}
                <h4>Erreurs dans le formulaire</h4>
                <ul>
                    {% for error in errors %}
                        <li style="color: red;">{{error}}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <form class = "needs-validation" novalidate action="/envoyer" method="POST" >

                <div class="row ">        
                    <div  class="col-md-6" >
                        <label for="nom" class="form-label">Nom de l'animal</label>
                        <input type="text" class="form-control" name="nom"id="nom" value="{{animal['nom']}}" required minlength="3" maxlength="20">
                        <div  id="erreur_nom" class="invalid-feedback" >Le nom de l'animal doit avoir entre 3 et 20 caractères.</div>
                        <div id="valid_nom" class="valid-feedback" > Champ valid!</div>
                    </div>
                    <div class="col-md-6 ">
                        <label for="age" class="form-label">Âge </label>
                        <input type="number" class="form-control" name="age" id="age"  min="0" max="30" required value="{{animal['age']}}" >
                        <div  id="erreur_age" class="invalid-feedback">L'age de l'animal doit être une valeur numérique entre 0 et 30.</div>
                        <div id="valid_age" class="valid-feedback"> Champ valid!</div>
                    </div>
                </div>

                <div class="row mt-3">        
                    <div class="col-md-6">
                        <label for="espece" class="form-label">Espece de l'animal</label>
                        <input type="text" class="form-control" name="espece" id="espece" required value="{{animal['espece']}}" >
                        <div  id="erreur_espece" class="invalid-feedback" >L'espèce de l'animal est requise.</div>
                        <div id="valid_espece" class="valid-feedback" > Champ valid!</div>
                    </div>
                    <div class="col-md-6">
                        <label for="race" class="form-label">Race de l'animal</label>
                        <input type="text" class="form-control" name="race" id="race" required value="{{animal['race']}}" >
                        <div  id="erreur_race" class="invalid-feedback" >La race de l'animal est requise.</div>
                        <div id="valid_race" class="valid-feedback" > Champ valid!</div>
                    </div>
                </div>
                <hr>
                <div class="row">        
                    <div class="col-md-6">
                        <label for="email" class="form-label">Adresse courriel</label>
                        <input type="text" class="form-control" name="courriel" id="email" value="{{ animal['courriel']}}" 
                            required pattern="^([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+$">
                        <div  id="erreur_email" class="invalid-feedback" >L'adresse courriel doit avoir un format valide</div>
                        <div id="valid_email" class="valid-feedback" > Champ valid!</div>
                    </div>
                </div>
                <hr>
                <div class="row">        
                    <div class="col-md-12">
                        <label for="adresse" class="form-label">Adresse Civique</label>
                        <input type="text" class="form-control" name="adresse" id="adresse" required value="{{animal['adresse']}}">
                        <div  id="erreur_adresse" class="invalid-feedback" >L'adresse civique est requise.</div>
                        <div id="valid_adresse" class="valid-feedback" > Champ valid!</div>
                    </div>
                </div>
                <div class="row mt-3">   
                    <div class="col-md-6">
                        <label for="ville" class="form-label">Ville</label>
                        <input type="text" class="form-control" name="ville" id="ville" required value="{{animal['ville']}}">
                        <div  id="erreur_ville" class="invalid-feedback" >La ville est requise.</div>
                        <div id="valid_ville" class="valid-feedback" > Champ valid!</div>
                    </div>   
                    <div class="col-md-6">
                        <label for="codePostal" class="form-label">Code Postal </label>
                        <input type="text" class="form-control" name="cp" id="codePostal" value="{{animal['cp']}}" 
                            required pattern="^[A-Za-z][0-9][A-Za-z] [0-9][A-Za-z][0-9]$">
                        <div  id="erreur_code_postal" class="invalid-feedback" >Le code postal doit avoir le format A0A 0A0</div>
                        <div id="valid_code_postal" class="valid-feedback" > Champ valid!</div>
                    </div>  
                </div>
                <hr>
                <div class="row">        
                    <div class="col-md-12">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" name="description" id="description" rows="3" required >{{animal['description']}}</textarea>
                        <div  id="erreur_age" class="invalid-feedback" >La déscription de l'animal est requise.</div>
                        <div id="valid_age" class="valid-feedback" > Champ valid!</div>
                    </div>
                </div>
                <hr>
                <div style="display: flex; justify-content: end; gap: 10px;">
                    <button type="submit" class="btn btn-primary">Soumettre a l'adoption</button>
                    <button type="reset" class="btn btn-danger">Réinitialiser</button>
                </div>
            </form>

            {% if errors %}
            <div class="toast-container position-fixed top-0 end-0 p-3">

                <div id="liveToast" class= "toast" role="alert" aria-live="assertive" aria-atomic="true" style="background-color: red;">
                    <div class="toast-header">
                    <strong class="me-auto">Erreurs</strong>
                  
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        <p style="color: white;">
                            Il y a eu des erreurs de validation lors de la dernière soumission. Veuillez consulter la liste des erreurs ci-dessous.
                        </p>
                   
                    </div>
                </div>
            </div>
            {% endif %}


            

        </div>
    </div>
</div>

<script>
    var champs = document.querySelectorAll('input, textarea');

    champs.forEach(function(champ) {
        champ.addEventListener('input', function(event) {
            if (event.target.value.includes(',')) {
                event.target.value = event.target.value.replace(/,/g, ''); 
            }
        });
    });      

</script>
{% endblock %}
