<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>animaux a adopter</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body >
  <div  class="container mt-4 ">
    <form class="my-4 " action="/search" method="GET">
      <div class="row offset-sm-4 mt-4 my-4">
        <label for="mode_recherche" class="col-sm-7 col-form-label text-end">Mode de recherche :</label>
        <div class="col-sm-5 ">
            <select class="form-control" id="mode_recherche" name="mode_recherche" onchange="modifier_indicateur_recherche(this.value)">
              <option value="1">Espèce</option>
              <option value="2">Race</option>
              <option value="3">Localisation</option>
            </select>
        </div>
      </div>
      <div class="row offset-sm-4 mt-4 my-4 ">
        <div class="col-sm-8  "> 
          <input id="recherche" type="text" class="form-control" name="mot_recherchee" placeholder="Saisir l'espace de l'animal..." required pattern=".{2,}">
        </div>
        <div class="col-sm-4 ">
          <button type="submit" class="btn btn-outline-success">Rechercher</button>
        </div>
      </div> 
    </form>
  </div>
  {% block content %}
  {% endblock %}  
  <script src="/js/script.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>

